
.menu{
  display: flex;
  align-items: center;
  gap:15px;
 background-color: rgba(225,225,225,.1);
}

.menu button{
  height: 40px;
  padding:0 15px;
  font-size: 14px;;
  border:none;
  border-radius: 5px;
}
.menu .divider{
  height:5px;
  background-color: deepskyblue;
}